 
	
.add_job
{
	width:90%;
	margin:auto;
	height:auto;
	margin-top:10px;
	border-top:1px solid rgba(200,200,200,0.2);
}
table
{
	width:80%;
	height:auto;
	margin:auto;
	margin-top:15px;
}
table tr
{
	height:80px;
	/background:rgba(255,0,0,0.5);
}
lable
{
		color:rgba(28,43,86,1);
		font-size:20px;
		
}
.input1{
		width:80%;
		height:35px;
		background-color:rgba(255,255,255,1);
		border:1px solid rgba(28,43,86,1);
		margin-left:10px;
		text-align:center;
		outline:none;
		font-size:15px;
		border-left:3px solid rgba(28,43,86,1);
		border-right:3px solid rgba(28,43,86,1);
		margin-top:10px;
		color:rgba(28,43,86,1);
}

::-webkit-input-placeholder{
		color:rgba(28,43,86,0.5);
}
::-ms-input-placeholder{
		color:rgba(28,43,86,0.5);
}
::-moz-input-placeholder{
		color:rgba(28,43,86,0.7);
}
.input1:focus{
					/border-left:5px solid rgba(34,98,228,1); 
					/border-right:5px solid rgba(34,98,228,1); 
					background-color:rgba(34,98,228,0.3); 
					/color:rgba(255,255,255,1);
					font-size:16px;
}
.add_job_btn
{
		width:25%;
		height:40px;
		font-weight:bold;
		font-size:20px;
		background-color:rgba(34,98,228,1); 	
		border:2px solid rgba(28,43,86,0.0);
		color:rgba(255,255,255,1);
		border-radius:10px;
		cursor:pointer;
		box-shadow:0px 15px 15px -15px rgba(0,0,0,1);
		
}
.add_job_btn:hover
{
				
					
					background-color:rgba(243,126,12,1);
					color:rgba(255,255,255,1);
}


@media only screen and (max-width: 700px)
{
	td
	{
		display:block;
	}
	.input1{
		width:100%;
	}
	.add_job_btn
{
	width:100px;
}
}